/* Global styling */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

/* Flex Box Stuff */

body,
.title-bar,
.zip {
  display: flex;
}

/* General Styling */
body,
fieldset,
.title-bar {
  flex-direction: column;
}

.zip {
  flex-direction: column;
}

body,
.title-bar {
  align-items: center;
}

body {
  background-color: white;
  color: #353d44;
  width: 100vw;
  margin: 0;
}

.title-bar {
  margin: 0 auto;
  background-color: black;
  color: aliceblue;
  width: 100vw;
}

.header-title,
.header-discription {
  text-align: center;
}

.header-title {
  margin-bottom: 0.5em;
}

.header-discription {
  margin-top: 0;
  margin-bottom: 2em;
}

form {
  border-top: 3px solid black;
}

.section-1 {
  border-top: 2px solid gray;
  margin: 5px 0 2px 0;
  padding: 1em 0 calc(1em + 1px) 0;
  width: 90vw;
}

legend {
  font-weight: bold;
}

.section-2 {
  border-top: 2px solid gray;
  padding-top: 1em;
}

#for-section-2 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

fieldset {
  border: none;
}

/* #fullname,
#emailaddress, */
.input-class {
  opacity: 75%;
  text-align: right;
  font-size: smaller;
}

fieldset {
  margin-top: 3px;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

form,
textarea,
select,
.input-class,
.section-2,
input[type="submit"] {
  width: 90vw;
}

input[type="submit"] {
  font-size: large;
}

textarea,
select,
.input-class {
  background-color: #eaebeb;
}

select:focus,
textarea:focus,
.input-class:focus {
  outline-color: rgb(11, 11, 172);
  background-color: white;
  transition: outline-color 1s ease-in;
  transition: background-color 1s ease-in;
}

select,
.input-class {
  height: 5vh;
  border: none;
  margin: 1em 0 1em 0;
}

#newsletter {
  margin-bottom: 0;
}

#html-type {
  margin: 1em 0 1em 0;
}

#plain-text {
  margin: 0.5em 0 2em 0;
}

textarea {
  height: 10vh;
  border: none;
  margin: 1em 0 1em 0;
}

#zipcode {
  width: calc(90vw * 0.5);
}

#submit {
  background-color: rgb(96, 196, 198);
  border-radius: 5px;
  color: aliceblue;
  height: 5vh;
}

.copyright {
  font-size: smaller;
  font-style: italic;
  opacity: 75%;
}

input[type="checkbox"] {
  margin: 1em 0 1em 0;
}

/* DarK Mode Stuff */

body.dark {
  background-color: #353d44;
  color: #eaebeb;
}

#toggleThemeBtn:hover {
  color: purple;
  font-size: 3em;
  text-shadow: red 1px 0 10px;
}

.information-requested {
  background-color: bisque;
  padding-left: 5px;
  padding-right: 5px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  body,
  form,
  div {
    display: flex;
  }

  body,
  form {
    flex-direction: column;
  }

  div {
    justify-content: flex-start;
    align-items: center;
  }

  .zip {
    flex-direction: row;
  }

  .form-a {
    flex-basis: 20%;
  }

  select,
  .input-class {
    width: 70vw;
    max-width: 700px;
    height: 4em;
    border-radius: 2.5px;
  }

  .form-a,
  #zipcode {
    max-width: 175px;
  }

  textarea,
  form,
  legend,
  input[type="submit"] {
    max-width: 875px;
  }

  header {
    margin-top: 2em;
  }

  legend {
    font-size: 1.5em;
  }

  .section-1 {
    padding-top: 2.5em;
  }

  .personal-information {
    padding-bottom: 3em;
  }

  .section-2 {
    padding-top: 3em;
    padding-bottom: 0.25em;
  }

  #zipcode {
    width: calc(70vw * 0.25);
    padding: 0;
  }

  .the-form {
    max-width: 85vw;
  }
}
