/* Global styling */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

/* Flex Box Stuff */

body,
.title-bar {
  display: flex;
}

/* General Styling */

body {
  flex-direction: column;
  background-color: white;
  color: #353d44;
  width: 100vw;
  margin: 0;
  align-items: center;
}

.title-bar {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: aliceblue;
  width: 100vw;
}

.header-title,
.header-discription {
  text-align: center;
}

form {
  border-top: 2px solid black;
}

.section-1 {
  border-top: 1px solid gray;
  margin-top: 2px;
}

.information-requested {
  border-top: 2px solid gray;
  margin-top: 10%;
}

fieldset {
  border: none;
}

input[id="fullname"],
input[id="emailaddress"] {
  opacity: 75%;
  text-align: right;
  font-size: smaller;
}

fieldset {
  margin: 0;
  padding: 0;
}

form,
textarea,
input[id="fullname"],
input[id="emailaddress"],
input[id="phone"],
input[id="address"],
input[id="city"],
input[id="submit"],
select[id="state"] {
  width: 90vw;
}

textarea,
input[id="fullname"],
input[id="emailaddress"],
input[id="phone"],
input[id="address"],
input[id="city"],
input[id="submit"],
select[id="state"],
input[id="zipcode"] {
  background-color: #eaebeb;
}

textarea:focus,
input[id="fullname"]:focus,
input[id="emailaddress"]:focus,
input[id="phone"]:focus,
input[id="address"]:focus,
input[id="city"]:focus,
input[id="submit"]:focus,
input[id="zipcode"]:focus {
  outline-color: rgb(11, 11, 172);
}

textarea,
input[id="fullname"],
input[id="emailaddress"],
input[id="phone"],
input[id="address"],
input[id="city"],
input[id="submit"],
select[id="state"],
input[id="zipcode"] {
  height: 3vh;
  border: none;
}

input[id="zipcode"] {
  width: 40vw;
}

input[id="submit"] {
  background-color: rgb(96, 196, 198);
  color: aliceblue;
}

p[class="copyright"] {
  font-size: smaller;
  font-style: italic;
}
/* DarK Mode Stuff */

body.dark {
  background-color: #353d44;
  color: #eaebeb;
}

#toggleThemeBtn:hover {
  color: purple;
  font-size: 3em;
  text-shadow: red 1px 0 10px;
}
/* Media Queries */ ;
