/* Global styling */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #eaebeb;
  color: #353d44;
}

body.dark {
  background-color: #353d44;
  color: #eaebeb;
}

/* Media Queries */
